/* SECTION */
.engapp-section {
  padding: 100px 0;
  background: linear-gradient(to right, #eef2f7, #f8fafc);
  margin-bottom: -30px;
}

/* CONTENT */
.engapp-content {
  max-width: 500px;
}

/* BADGE */
.engapp-badge {
  color: orange;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'CabinetGrotesk', sans-serif;
}

/* TITLE */
.engapp-title {
  font-size: 2.4rem;
  font-family: 'CabinetGrotesk', sans-serif;
  font-weight: 700;
  color: #0d3b66;
  margin: 10px 0;
}

/* TEXT */
.engapp-text {
  color: #28292b;
  margin-bottom: 20px;
}

/* STORE BUTTONS */
.engapp-store {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.engapp-store img {
  height: 45px;
  cursor: pointer;
  transition: 0.3s;
}

.engapp-store img:hover {
  transform: scale(1.05);
}

/* QR */
.engapp-qr {
  margin-top: 10px;
}

.engapp-qr img {

  width: 140px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* RIGHT SIDE */
.engapp-visual {
  position: relative;
  text-align: center;
}

/* PHONE */
.engapp-phone {
  margin-bottom: -55px;
  width: 580px;
  height: 430px;
  transition: 0.4s;
  margin-left: 150px;
}

.engapp-phone:hover {
  transform: scale(1.05);
}

/* FLOATING ICONS */
.engapp-float {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #facc15;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: float 3s ease-in-out infinite;
}

.icon1 { top: 20%; left: 10%; }
.icon2 { top: 40%; right: 10%; }
.icon3 { bottom: 10%; left: 20%; }

/* FLOAT ANIMATION */
@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* RESPONSIVE */
